<%= form_tag("/tweet", class: 'main-form') do %>

<div class="container">
  <p class="search">
    <%= label_tag(:q, "(Enter in your favorite topic and turn up your volume!)") %>
    <%= text_field_tag :q, nil, class: "form-control", placeholder:"Let your mind run wild..." %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </p>
</div>

  
