

  <div class="main-page">

    <%= render 'form'  %>

    <div class="something">
      <% @random.each do |pic| %>
        <iframe src="<%= pic.embed_url.to_s %>" width="" height=""></iframe>
      <% end %>
    </div>


  </div>
