// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// body{
//   background-repeat: no-repeat;
// }


.main-page{
  position: static;
	padding-top: 5%;
}

.something{
  text-align: center;
}

.logo{
  color: white;
  font-size: 40px;
  text-align: center;
}

.search{
  text-align: center;
  color: white;
}

.row {
  text-align: center;
}

#some i {
  font-size: 94px;
}

.btn-primary{
  background-color: black;
}

.btn-primary:hover{
  background-color: silver;
}

.tweet{
  font-size: 18px;
  color: white;
}

.error-message {
  color: white;
}




// .tweet-container{
//   background-color: silver;
// }
